NODE_ENV=development

SERVER_PORT=3000
DEV_SERVER_PORT=3001

DATABASE_URL=postgres://rykochet:CHANGE_ME_STRONG@127.0.0.1:5432/rykochet
DATABASE_URL_DEV=postgres://rykochet:CHANGE_ME_STRONG@127.0.0.1:5432/rykochet_dev

SESSION_SECRET=change-me-to-a-long-random-string

TRUST_PROXY=true
